.content {
	border: 5px green solid;
	background-color: white;
	background-image: url("http://www.cs.washington.edu/education/courses/190m/09sp/labs/2‐journal/images/background.gif");
	align-self: center;
	margin: 0% 10%;
}

.title {
	border: 5px red solid;
}

.subtitle {
	border: 5px orange solid;
}

.article {
	border: 5px blue solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
}

span.date {
	border: 5px purple solid;
}