.content {
	border: 5px green solid;
	background-color: white;
	background-image: url("http://www.cs.washington.edu/education/courses/190m/09sp/labs/2‐journal/images/background.gif");
	margin: 0% 10%;
}

.title {
	border: 5px red solid;
	text-align: right;
}

.subtitle {
	border: 5px orange solid;
}

.article {
	border: 5px blue solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	overflow: hidden;
}

span.date {
	border: 5px purple solid;
}

.article img {
	float: right;
}